body{
    text-align: center;
}

.btn{
    height: 190px;
    width: 190px;
    border: 11px solid black;
    border-radius: 20%;
    margin: 2.2rem;
} 

.btn_container{
    display: flex;
    justify-content: center;
}

.red{
    background-color: #d95980
}

.green{
    background-color: #63aac0;
}

.yellow{
    background-color: #f99b45;
}

.purple{
    background-color: #819ff9;
}

.gameflash{
    background-color: white;
}

.userflash{
    background-color: green;
}

h1{
    font-family: 'Courier New', Courier, monospace;
}

.startbtn {
    background-color: #ff6f61; 
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 17.3px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    font-family :'Courier New', Courier, monospace ;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.startbtn:hover {
    background-color: #b12e1a; 
}

.startbtn:active {
    transform: translateY(1px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
